.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_targets
data_input/scibase_nhd/
data_output/scibase_nhd/*
data_output/ffm_models/*rds
data_output/ffm_predictions/*csv
figures/*html
*.html
data_output/.Rapp.history
